<div class="comment">
  <div class="comment-likes">
    <button class="add" (click)= "upVote()"><img src="../../assets/images/icon-plus.svg" ></button>
    <p>{{data.comments[index].score}}</p>
    <button class="substract" (click)="downVote()"><img src="../../assets/images/icon-minus.svg" ></button>
  </div>
  <div class="comment-nonelikes">
    <div class="comment-nonelikes-head">
      <div class="comment-nonelikes-head-avatar">
        <img src={{data.comments[index].user.image.png}} >
        <p>{{data.comments[index].user.username}}</p>
        <p class="you" *ngIf="data.comments[index].user.username == data.currentUser.username">you</p>
        <p>{{data.comments[index].createdAt}}</p>
      </div>
      <div class="comment-nonelikes-head-settings">
        <div class="delete" *ngIf="data.comments[index].user.username == data.currentUser.username" (click) = "deleteComment()" >
          <img src="../../assets/images/icon-delete.svg">
          <p>Delete</p>
        </div>
        <div class="reply" *ngIf="data.comments[index].user.username !== data.currentUser.username" (click) = showReplyButton()>
            <img src="../../assets/images/icon-reply.svg">
            <p>Reply</p>
        </div>
        <div class="edit" *ngIf="data.comments[index].user.username == data.currentUser.username">
          <img src="../../assets/images/icon-edit.svg">
          <p>Edit</p>
        </div>
      </div>
    </div>
    <p class="text">{{data.comments[index].content}}</p>
    </div>
  </div>
  <form action="" *ngIf = "showReplyInput" >
    <textarea placeholder="Add a comment" [(ngModel)]="replyContent" name="comment" ></textarea>
    <img src="{{currentuser.image.png}}" alt="">
    <button (click)="addReply()">send</button>
  </form>
  <div>
    <app-reply-section *ngFor="let reply of data.comments[index].replies; let i=index" [data]="data" [replies_index]="i" [comments_index]="index"/>
  </div>
  <div class="background-div" *ngIf="askDelete">
    <div class="question-div" *ngIf="true">
      <p class="deleteComment">Delete comment</p>
      <p class="dangerZone">Are you sure you want to delete this comment? This will remove the comment and can't be undone.</p>
      <div class="choiceZone">
        <button class="noCancel" (click)="deleteNo()" >no, cancel</button>
        <button class="yesDelete" (click)="deleteYes()">yes, delete</button>
      </div>
    </div>
  </div>
