<div class="comment">
  <div class="comment-likes">
    <button><img src="../../assets/images/icon-plus.svg"></button>
    <p>{{data.comments[index].score}}</p>
    <button><img src="../../assets/images/icon-minus.svg"></button>
  </div>
<div class="comment-nonelikes">
  <div class="comment-nonelikes-head">
    <div class="comment-nonelikes-head-avatar">
      <img src={{data.comments[index].user.image.png}} >
      <p>{{data.comments[index].user.username}}</p>
      <p class="you" *ngIf="data.comments[index].user.username == mainUser">you</p>
      <p>{{data.comments[index].createdAt}}</p>
    </div>
    <div class="comment-nonelikes-head-settings">
      <div class="delete" *ngIf="data.comments[index].user.username == mainUser">
        <img src="../../assets/images/icon-delete.svg">
        <p>Delete</p>
      </div>
      <div class="reply" *ngIf="data.comments[index].user.username !== mainUser">
          <img src="../../assets/images/icon-reply.svg">
          <p>Reply</p>
      </div>
      <div class="edit" *ngIf="data.comments[index].user.username == mainUser">
        <img src="../../assets/images/icon-edit.svg">
        <p>Edit</p>
      </div>
    </div>
  </div>
  <p class="text">{{data.comments[index].content}}</p>
  </div>
</div>
<div>
  <app-reply-section *ngFor="let reply of data.comments[index].replies; let i=index" [data]="data" [replies_index]="i" [comments_index]="index"/>
</div>
